PORT=3000
MONGO_URI=mongodb://localhost:27017/lingchong
# 抖音云部署时由平台注入，本地开发手动填写
# DOUYIN_APPID=tt64d6126bfab7cc5502
# DOUYIN_SECRET=your_douyin_secret
# WECHAT_APPID=wx53b03390106eff65
# WECHAT_SECRET=your_wechat_secret
